MeetMind - Workflow 4_Status Update.json
{
  "name": "MeetMind - Workflow 4: Status Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5dfea19a-2121-4bc7-b8e7-acaf4420bf5c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2ad7b8a0-f6fe-4f3e-ad86-4a4d62a5eb5f",
      "name": "Webhook",
      "webhookId": "5dfea19a-2121-4bc7-b8e7-acaf4420bf5c"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1VxDBeNJxg9EzcJfqVDcUwo19ez_mD7Vi8GWx1ZaMKBI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Görev": "={{ $json.body.id }}",
            "Durum": "={{ $json.body.status }}"
          },
          "matchingColumns": [
            "Görev"
          ],
          "schema": [
            {
              "id": "Tarih",
              "displayName": "Tarih",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Toplantı Adı",
              "displayName": "Toplantı Adı",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sorumlu",
              "displayName": "Sorumlu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Görev",
              "displayName": "Görev",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Öncelik",
              "displayName": "Öncelik",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Durum",
              "displayName": "Durum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-Posta",
              "displayName": "E-Posta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notlar",
              "displayName": "Notlar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "a141407a-eb7a-43f3-87a8-e65eef5832d0",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lIPhj7Owl2zp4LlO",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "6df5fbe9-1c78-46d1-aae3-6d5063580725",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7a33cb85-5cc3-4e17-90c4-536a1ce3adba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9777f5c06799c9b8a4e21297ec3f6be067bd785ff228c5027665e0ab6499208"
  },
  "id": "6BAeFavEAfodfwgf",
  "tags": []
}